/* styles.css */

h1 {
    color: blue;
}

.img {
    height: 300px;
}

.space {
    margin-top: 50px;
}

.index{
    text-align: center;
    background-color: white;

}

.sm {
    background-color: rgb(63, 209, 18);
}

.pb {
    background-color: blueviolet;
}

.ft {
    background-color: burlywood;
}